/**
 * Stylesheet for the AJTextButton component.
 * Author: Andrew Jarombek
 * Date: 11/23/2019
 */

@import "../global";

.aj-text-button {
  @include RobotoThin;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &.aj-text-button-enabled {
    cursor: pointer;

    &:active {
      background-color: #f5f5f5;
    }

    button {
      cursor: pointer;
      color: #555;
      transition: color 0.25s ease;

      &:active {
        color: #222;
      }
    }
  }

  &.aj-text-button-disabled {
    cursor: not-allowed;

    button {
      cursor: not-allowed;
      color: #999;
    }
  }

  button {
    display: block;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
